.colored {
  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, var(--orange), var(--pink), var(--orange), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400% 400%;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  &a {
    text-decoration: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
